extends layout

block content
  h1 socket.io test
  div#register

block scripts
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/public/javascripts/index.js')